.project-pic-links-prt1 ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    flex-wrap:nowrap;
}

.project-pic-links-prt1 a {
    text-decoration: none;
}

.project-pic-links-prt1 img:hover {
    box-shadow: 20px 10px 20px rgb(0, 0, 0);
    transition: ease-in 0.7s;
    transform: translateY(-20px);
}

.project-pic-links-prt2 ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    flex-wrap:nowrap;
}

.project-pic-links-prt2 a {
    text-decoration: none;
}

.project-pic-links-prt2 img:hover {
    box-shadow: 20px 10px 20px rgb(0, 0, 0);
    transition: ease-in 0.7s;
    transform: translateY(-20px);
}

h1{

}